<div>
  <h1>Home</h1>
  <h2>Lista de Productos</h2>

  <ul>
    {{#each products}}
      <li>
        {{this.title}} - ${{this.price}}
        <a href="/products/{{this._id}}">Ver detalles</a>
      </li>
    {{/each}}
  </ul>

  <div>
    <!-- Paginación -->
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Página anterior</a>
    {{else}}
      <span>Página anterior</span>
    {{/if}}

    <span>Página {{page}} de {{totalPages}}</span>

    {{#if hasNextPage}}
      <a href="{{nextLink}}">Página siguiente</a>
    {{else}}
      <span>Página siguiente</span>
    {{/if}}
  </div>
</div>
